@font-face {
  font-family: "Metropolis-Bold";
  src: url("../fonts/Metropolis-Bold_0.otf") format("woff"), url("../fonts/Metropolis-Bold_0.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url("../fonts/Metropolis-Medium_0.otf") format("woff"), url("../fonts/Metropolis-Medium_0.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url("../fonts/Metropolis-Regular_0.otf") format("woff"), url("../fonts/Metropolis-Regular_0.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaRustSans-Black_0";
  src: url("../fonts/NexaRustSans-Black_0.otf") format("woff"), url("../fonts/NexaRustSans-Black_0.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Metropolis-Regular", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 20em) {
  body {
    overflow-x: hidden;
  }
}

body::-webkit-scrollbar {
  width: 1.5rem;
  overflow: hidden;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
  background: #7810FF;
  border-radius: 30px;
}

body::-webkit-scrollbar-track-piece {
  background: #301c57;
}

.heading-2 {
  font-size: 4rem;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  line-height: 4rem;
  font-family: "Metropolis-Bold", sans-serif;
}

.heading-4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.heading-5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.heading-1 {
  font-size: 1.5rem;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 2rem;
}

.paragraph {
  font-size: 1.5rem;
  color: linear-gradient(180deg, #A91DF8, #5E00D8);
}

.pri-color {
  color: #ffffff;
}

.sec-color {
  color: #000000;
}

.mb-l {
  margin-bottom: 5rem;
}

.mb-m {
  margin-bottom: 3rem;
}

.mb-s {
  margin-bottom: 1.3rem;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 3rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.heading-pri {
  font-family: "NexaRustSans-Black_0", "san-sarif";
  font-size: 3.7rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  line-height: 3rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.heading-sec {
  font-family: "NexaRustSans-Black_0", "san-sarif";
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.navfonts {
  font-family: "NexaRustSans-Black_0", "san-sarif";
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.heading-paragraph {
  font-size: 1.5rem;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 2rem;
  width: 45rem;
  margin-bottom: 4rem;
}

.heading-6 {
  font-size: 1.3rem;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 2rem;
}

.cta {
  background-color: #d800bb;
  padding: 2rem 5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Metropolis-Medium", sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cta:hover {
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.cta-1 {
  background-color: #d800bb;
  padding: 2rem 5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Metropolis-Medium", sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cta-1:hover {
  background-color: transparent;
  border: 1.5px solid #000000;
  color: #000000;
}

.cta-2 {
  background-color: #5E00D8;
  padding: 2rem 5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Metropolis-Medium", sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cta-2:hover {
  background-color: transparent;
  border: 1.5px solid #000000;
  color: #000000;
}

.testimonial-5 {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

.contact {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .contact {
    min-height: 70rem;
  }
}
@media only screen and (max-width: 80.25em) {
  .contact:before {
    background-position: 100% 0%;
    width: 50%;
    left: -7%;
    bottom: -67%;
  }
  .contact div.container .container-fluid {
    width: 50%;
  }
  .contact div.container .container-fluid .img-left {
    width: 95%;
  }
  .contact div.container .container-fluid .img-left img {
    height: 100%;
    width: auto;
  }
  .contact div.container .container-fluid .img3 {
    width: 95%;
  }
  .contact div.container .container-fluid .img3 img {
    height: 100%;
  }
}
.contact .container {
  display: flex;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
}
.contact .container .container-fluid {
  top: 10%;
  right: 0;
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 40%;
  display: block;
  flex-wrap: wrap;
  align-items: center;
}
.contact .container .container-fluid .pricing {
  width: 90%;
  height: 600px;
  text-align: center;
  align-items: center;
  background: #231833;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 2rem;
  margin-right: 20px;
}
.contact .container .container-fluid .pricing .choose {
  height: 60px;
  width: 80%;
  background: #7c80cc;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.contact .container .container-fluid .pricing .choose h1 {
  padding-top: 2rem;
}
.contact .contact-container {
  width: 65rem;
  top: 10%;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  left: 5%;
  height: 100vh;
  margin: 1rem 1rem 2rem 0rem;
}
.contact .contact-container .contact-head {
  width: 35rem;
  top: 0;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.contact .contact-container .contact-head:hover::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -2rem;
  right: 1rem;
  z-index: -1;
  transition: all 1s;
}
.contact .contact-container .contact-head::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d800bb;
  top: -2rem;
  right: 10rem;
  z-index: -1;
  transition: all 1s;
}
.contact .contact-container a {
  color: #5E00D8;
  font-weight: medium;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: all 1s;
}
.contact .contact-container a:hover span {
  transform: translateX(1rem);
  transition: all 1s;
}
.contact .contact-container a span {
  float: left;
  margin-right: 2rem;
  transition: all 1s;
}
.contact .contact-container .contact-form-main-radios {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  padding: 30px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.contact .contact-form {
  height: 500px;
  z-index: 7;
  width: 95%;
  position: relative;
  border-radius: 50px;
  transition: all 1s;
}
.contact .contact-form input[required=true], .contact .contact-form textarea[aria-invalid=true] {
  border: 0.2rem solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}
.contact .contact-form .form-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.contact .contact-form .formGroup {
  margin-top: 30px;
}
.contact .contact-form input[type=text] {
  width: 29rem;
  border: 0.2rem solid #aa98c5;
  height: 60px;
  border-radius: 1rem;
  outline: none;
  padding: 20px;
  font-size: 16px;
  color: #9e9e9e;
  transition: all 1s ease-in-out;
}
.contact .contact-form input[type=text]::placeholder {
  border: none;
  color: #9e9e9e;
  font-weight: 500;
  transition: border 1s ease-in-out;
}
.contact .contact-form input[type=text]:focus {
  background: transparent;
  border: 0.2rem solid #5E00D8;
  color: #9e9e9e;
  transition: border 1s ease-in-out;
}
.contact .contact-form input[type=text]:focus:placeholder-shown {
  transition: border 1s ease-in-out;
  color: #9e9e9e;
}
.contact .contact-form input[type=text]:focus::placeholder {
  color: #9e9e9e;
}
.contact .contact-form input[type=email] {
  width: 29rem;
  border: 0.2rem solid #aa98c5;
  height: 60px;
  border-radius: 1rem;
  outline: none;
  padding: 20px;
  font-size: 16px;
  color: #9e9e9e;
  transition: all 1s ease-in-out;
}
.contact .contact-form input[type=email]::placeholder {
  border: none;
  color: #9e9e9e;
  font-weight: 500;
  transition: border 1s ease-in-out;
}
.contact .contact-form input[type=email]:focus {
  background: transparent;
  border: 0.2rem solid #5E00D8;
  color: #9e9e9e;
  transition: border 1s ease-in-out;
}
.contact .contact-form input[type=email]:focus:placeholder-shown {
  transition: border 1s ease-in-out;
  color: #9e9e9e;
}
.contact .contact-form input[type=email]:focus::placeholder {
  color: #9e9e9e;
}
.contact .contact-form textarea[type=message] {
  width: 100%;
  border: 0.2rem solid #aa98c5;
  border-radius: 1rem;
  height: 120px;
  padding: 20px;
  resize: none;
  color: #9e9e9e;
  overflow: none;
  outline: none;
  font-size: 16px;
  transition: font-size 1s;
}
.contact .contact-form textarea[type=message]::-webkit-scrollbar {
  width: 1rem;
  overflow: hidden;
}
.contact .contact-form textarea[type=message]::placeholder {
  border: none;
  color: #9e9e9e;
  font-weight: 500;
  transition: border 1s ease-in-out;
}
.contact .contact-form textarea[type=message]:focus {
  background: transparent;
  border: 0.2rem solid #5E00D8;
  color: #9e9e9e;
  transition: border 1s ease-in-out;
}
.contact .contact-form textarea[type=message]:focus:placeholder-shown {
  transition: border 1s ease-in-out;
  color: #9e9e9e;
}
.contact .contact-form textarea[type=message]:focus::placeholder {
  color: #9e9e9e;
}
.contact .contact-form button[type=button] {
  width: 50%;
  background: #231833;
  background-size: 200%;
  border: none;
  outline: none;
  border-radius: 1rem;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  transition: font-size 1s;
  float: left;
  cursor: pointer;
  transition: 1s;
}
.contact .contact-form button[type=button]:hover {
  background-position: right;
}
.contact .contact-form fieldset {
  border: none;
}

.footer {
  height: 100%;
  position: relative;
  background: #f8f3ff;
}
.footer .container {
  display: flex;
  width: 95%;
  top: 15%;
  margin: 0 auto;
  position: relative;
}
.footer .container .left {
  position: relative;
  width: 70%;
  left: 10%;
  padding-right: 2rem;
}
.footer .container .left .img {
  width: 150px;
  margin-bottom: 5rem;
  margin-top: 5rem;
  position: relative;
}
.footer .container .left .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.footer .container .left .nav:nth-of-type(3) {
  margin-top: 10rem;
}
.footer .container .left .nav ul {
  width: 300px;
}
.footer .container .left .nav li {
  margin-bottom: 2rem;
}
.footer .container .left .nav li a {
  color: #6e6e6e;
}
.footer .container .left .nav p {
  line-height: 2rem;
  margin-top: 2rem;
}
.footer .container .left .nav .sub {
  width: 300px;
  float: left;
  position: relative;
}
.footer .container .left .nav .sub .formGroup {
  margin-top: 30px;
}
.footer .container .left .nav .sub .form-flex {
  display: flex;
  flex-direction: row;
}
.footer .container .left .nav .sub input[type=email] {
  width: 20rem;
  border: none;
  height: 50px;
  outline: none;
  background: #41436B;
  padding: 20px;
  font-size: 15px;
  color: #ffffff;
  transition: all 1s ease-in-out;
}
.footer .container .left .nav .sub input[type=email]::placeholder {
  color: #ffffff;
}
.footer .container .left .nav .sub input[type=email]:placeholder-shown {
  color: #ffffff;
}
.footer .container .left .nav .sub input[type=email]:focus {
  color: #ffffff;
}
.footer .container .left .nav .sub button[type=button] {
  width: 10rem;
  background: #d800bb;
  border: none;
  outline: none;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  float: left;
  cursor: pointer;
  transition: 1s;
}
.footer .container .left .nav h1 {
  line-height: 20px;
}
.footer .container .left .nav .social {
  display: flex;
  margin-top: 2rem;
}
.footer .container .left .nav .social .icons {
  width: 25px;
  height: 25px;
  margin-right: 1.5rem;
}
.footer .container .left .nav .social .icons img {
  width: 60%;
}
.footer .container .left hr {
  border-bottom: 1.5px solid #d800bb;
  outline: none;
  border-top: none;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.footer .container .left .end {
  position: relative;
  padding-bottom: 5rem;
  margin: 0;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 90.25em) {
  .contact .container .container-fluid {
    display: none;
  }
}
@media only screen and (max-width: 76.25em) {
  .footer {
    height: 100%;
  }
  .footer .container {
    height: 100%;
    top: 0;
  }
  .footer .container .left {
    position: relative;
    width: 100%;
    left: 3rem;
    height: 100%;
  }
  .footer .container .left .img {
    width: 200px;
    position: relative;
    top: 5rem;
  }
  .footer .container .left .img img {
    position: absolute;
    width: 50%;
  }
  .footer .container .left .nav {
    margin-top: 15rem;
  }
  .footer .container .left .nav ul {
    width: 200px;
  }
}
@media only screen and (max-width: 50.25em) {
  .contact .container {
    height: 100%;
  }
  .contact .container .contact-container {
    height: 100%;
  }
  .contact .container .contact-head {
    top: 10rem;
    margin-bottom: 9rem;
  }
  .contact .container .container-fluid {
    display: none;
  }
  .contact .container .contact-form {
    height: 800px;
  }
  .contact .container .contact-form input {
    width: 99%;
  }
  .contact .container .contact-form .form-flex {
    display: block;
  }

  .footer {
    height: 100%;
  }
  .footer .container {
    height: 100%;
    top: 0;
  }
  .footer .container .left {
    position: relative;
    width: 100%;
    left: 3rem;
    height: 100%;
  }
  .footer .container .left .img {
    width: 200px;
    position: relative;
    margin-top: 3rem;
  }
  .footer .container .left .img img {
    position: absolute;
    width: 50%;
  }
  .footer .container .left .nav {
    margin-top: 15rem;
    flex-wrap: wrap;
  }
  .footer .container .left .nav ul {
    width: 300px;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 28.25em) {
  .footer {
    height: 100%;
  }
  .footer .container {
    height: 100%;
    top: 0;
  }
  .footer .container .left {
    left: 0;
    padding-left: 2rem;
  }
}
.navigation .custom-menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 95;
  height: 100%;
  background-color: #231833;
  overflow: hidden;
  right: 0;
  width: 0;
}
.navigation .custom-menu .trans1 {
  position: absolute;
  background: #d800bb;
  height: 100vh;
  width: 100%;
  left: -100%;
}
.navigation .custom-menu .trans2 {
  position: absolute;
  background: #6700CE;
  height: 100vh;
  width: 100%;
  left: -100%;
}
.navigation .custom-menu .menu-container {
  position: relative;
  left: 0%;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.navigation .custom-menu .menu-container ul {
  position: relative;
  width: 200px;
  top: 20%;
  left: 5rem;
}
.navigation .custom-menu .menu-container ul li {
  position: relative;
  overflow: hidden;
  font-size: 25px;
  color: #666;
  line-height: 50px;
  margin-top: 3rem;
  margin-left: 1rem;
  font-family: "NexaRustSans-Black_0", "san-sarif";
  transition: all 1s;
  cursor: pointer;
}
.navigation .custom-menu .menu-container ul li:hover {
  opacity: 1;
}
.navigation .custom-menu .menu-container ul li:hover::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  background: #d800bb;
  top: 0;
  transition: all 2s;
  opacity: 0;
}
.navigation .custom-menu .menu-container ul li:hover::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #d800bb;
  right: 5rem;
  bottom: 0;
  transition: all 2s;
  opacity: 0;
}
.navigation .custom-menu .menu-container ul li::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  background: #d800bb;
  top: -10rem;
  transition: all 1s;
  opacity: 1;
  pointer-events: none;
}
.navigation .custom-menu .menu-container ul li::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #d800bb;
  bottom: -10rem;
  transition: all 1s;
  opacity: 1;
  pointer-events: none;
}
.navigation .custom-menu .menu-container ul li:nth-of-type(1) {
  margin-top: 0;
}
.navigation .custom-menu .menu-container ul li a {
  color: inherit;
  position: relative;
  text-decoration: none;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  color: white;
}
.navigation .custom-menu .menu-container .other {
  width: 500px;
  height: 500px;
  position: relative;
  top: 10%;
}
.navigation .custom-menu .menu-container .other ul {
  width: 250px;
  margin-bottom: 4rem;
  opacity: 0;
}
.navigation .custom-menu .menu-container .other .social {
  display: flex;
}
.navigation .custom-menu .menu-container .other .social .icons {
  margin-right: 1rem;
}
.navigation .custom-menu .menu-container .other .social img {
  width: 2rem;
}
.navigation .globNav {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: #6700CE;
  padding: 0.5rem 0;
}
@media only screen and (max-width: 540px) {
  .navigation .globNav .fluid-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.navigation .globNav .fluid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}
.navigation .globNav .fluid-container .logo a {
  display: block;
  padding: 1rem;
}
.navigation .globNav .fluid-container .logo a img {
  height: 3rem;
  display: block;
  position: relative;
  left: 10rem;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navigation .globNav .fluid-container .right-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
}
.navigation .globNav .fluid-container .right-element .button-container {
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .navigation .globNav .fluid-container .right-element .button-container {
    border-radius: 0;
  }
}
.navigation .globNav .fluid-container .right-element .button-container button {
  border: none;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .navigation .globNav .fluid-container .right-element .button-container button {
    width: 2rem;
    height: 2rem;
  }
}
.navigation .globNav .fluid-container .right-element .button-container button.active .button-inner {
  background-color: #353535;
}
.navigation .globNav .fluid-container .right-element .button-container button.active .button-inner::before {
  top: 0;
  left: 0;
}
.navigation .globNav .fluid-container .right-element .button-container button.active .button-inner::after {
  bottom: 0;
  left: 1rem;
}
.navigation .globNav .fluid-container .right-element .button-container button.active .button-inner::after, .navigation .globNav .fluid-container .right-element .button-container button.active .button-inner::before {
  opacity: 0;
}
.navigation .globNav .fluid-container .right-element .button-container button .button-inner,
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::after,
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::before {
  position: absolute;
  width: 2rem;
  height: 3px;
  transition-timing-function: ease;
  transition-duration: 350ms;
  background-color: #000;
  left: 1rem;
  display: block;
}
@media only screen and (max-width: 540px) {
  .navigation .globNav .fluid-container .right-element .button-container button .button-inner,
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::after,
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::before {
    left: 0;
    height: 2px;
  }
}
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::after,
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::before {
  content: "";
}
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::before {
  top: 10px;
}
.navigation .globNav .fluid-container .right-element .button-container button .button-inner::after {
  bottom: -10px;
}

.header {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.header:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0rem;
  right: 0;
  z-index: -1;
  background: url("../img/Blurquersbackground.svg") 80% 60% no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .header:after {
    background-position: 50% 80%;
    left: 0;
    bottom: 0;
  }
}
.header .hero {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-70%);
}
@media only screen and (max-width: 56.25em) {
  .header .hero {
    top: 55%;
  }
}

.text-container {
  width: 55rem;
  position: relative;
  overflow: hidden;
  height: 15rem;
  margin: 1rem 1rem 2rem 0rem;
}
.text-container::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 15px;
  background-color: #d800bb;
  bottom: -1rem;
  z-index: 1;
  transition: all 1s;
}
.text-container:hover::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 15px;
  background-color: #d800bb;
  bottom: -1rem;
  z-index: 1;
  transition: all 1s;
}
.text-container svg {
  position: absolute;
  top: -1rem;
  left: -0.75rem;
  width: 27rem;
}
.text-container span {
  font-size: 8rem;
  color: rgba(255, 255, 255, 0);
  text-transform: lowercase;
  font-family: "Metropolis-Medium", sans-serif;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

@media only screen and (max-width: 90.25em) {
  .navigation .globNav .fluid-container .logo a img {
    left: 5rem;
  }
}
@media only screen and (max-width: 70.25em) {
  .navigation .globNav .fluid-container .logo a img {
    left: 3rem;
  }
}
@media only screen and (max-width: 50.25em) {
  .navigation .globNav .fluid-container .logo a img {
    left: 1rem;
  }
}
@media only screen and (max-width: 28.25em) {
  .navigation .custom-menu .menu-container {
    flex-direction: column;
  }
  .navigation .custom-menu .menu-container ul {
    width: 40%;
    top: 15%;
    margin-bottom: 1rem;
  }
  .navigation .custom-menu .menu-container ul li {
    line-height: 20px;
    font-size: 17px;
  }
  .navigation .custom-menu .menu-container .other ul {
    margin-top: 3rem;
  }
  .navigation .custom-menu .menu-container .other ul h2 img {
    width: 6%;
  }

  .navigation .globNav .fluid-container .logo a img {
    height: 3rem;
    display: block;
    position: relative;
    left: 0;
  }

  .custom-menu {
    overflow: hidden;
  }

  .header {
    overflow: hidden;
    min-height: 100vh;
  }
  .header .hero {
    top: 55%;
    padding: 1rem;
  }
  .header .hero h1 {
    font-size: 18px;
  }
  .header .hero h2 {
    font-size: 18px;
  }
  .header .hero h4 {
    font-size: 8px;
  }
  .header .hero p {
    font-size: 13px;
    width: 60%;
    line-height: 25px;
    font-weight: lighter;
  }
}
.about {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
}
.about svg {
  content: "";
  position: absolute;
  width: 50%;
  height: 100vh;
  bottom: -53rem;
  left: -7%;
  z-index: -1;
}
.about .container {
  display: flex;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
}
.about .container .container-fluid {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  right: 0;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}
.about .container .container-fluid .img-left {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 400px;
  align-items: center;
}
.about .container .container-fluid .img1 {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  border-radius: 2rem;
  margin-right: 5rem;
}
.about .container .container-fluid .img1 img {
  position: absolute;
  background-size: 100%;
  width: 100%;
  background: 80% 60% no-repeat;
  transition: all 1s;
}
.about .container .container-fluid .img2 {
  position: relative;
  right: 0rem;
  overflow: hidden;
  width: 400px;
  height: 300px;
  border-radius: 2rem;
  transition: all 1s;
}
.about .container .container-fluid .img2 img {
  position: absolute;
  background-size: 100%;
  height: 100%;
  background: 80% 60% no-repeat;
}
.about .container .container-fluid .img3 {
  position: relative;
  right: 0rem;
  overflow: hidden;
  height: 320px;
  width: 700px;
  border-radius: 2rem;
  transition: all 1s;
}
.about .container .container-fluid .img3 img {
  position: absolute;
  width: 100%;
}

.about-container {
  width: 40rem;
  top: 30%;
  position: relative;
  overflow: hidden;
  left: 5%;
  height: 30rem;
  margin: 1rem 1rem 2rem 0rem;
}
.about-container:hover span {
  transform: translateX(1rem);
  transition: all 1s;
}
.about-container::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d800bb;
  top: -2rem;
  right: 10rem;
  z-index: -1;
  transition: all 1s;
}
.about-container a {
  color: #5E00D8;
  font-weight: medium;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: all 1s;
}
.about-container a:hover span {
  transform: translateX(1rem);
  transition: all 1s;
}
.about-container a span {
  float: left;
  margin-right: 2rem;
  transition: all 1s;
}

@media only screen and (max-width: 90.25em) {
  .about svg {
    display: none;
  }
}
@media only screen and (max-width: 76.25em) {
  .about {
    min-height: 100vh;
    position: relative;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about .about-container {
    left: 0;
    text-align: center;
    margin: 0 auto;
    width: 60rem;
    top: 0;
    position: relative;
    margin-bottom: 0;
  }
  .about .about-container a span {
    float: none;
  }
  .about svg {
    display: none;
  }

  .about div.container .container-fluid {
    left: 0;
    justify-content: center;
    align-items: baseline;
    width: 800px;
    height: 800px;
    transform: rotate(90deg);
    top: 5%;
    position: relative;
    margin: 0 auto;
  }
  .about div.container .container-fluid .img-left {
    height: 400px;
    width: 500px;
  }
  .about div.container .container-fluid .img-left img {
    height: 100%;
  }
  .about div.container .container-fluid .img3 {
    height: 400px;
    width: 500px;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 50.25em) {
  .about {
    min-height: 100vh;
    position: relative;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about .about-container {
    left: 0;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    top: 10%;
    position: relative;
    margin-bottom: 5rem;
  }
  .about .about-container a span {
    float: none;
  }
  .about svg {
    display: none;
  }

  .about div.container .container-fluid {
    left: 0;
    justify-content: center;
    align-items: baseline;
    width: 800px;
    height: 90%;
    transform: rotate(0deg);
    top: 5%;
    position: relative;
    margin: 0 auto;
    padding-left: 2rem;
  }
  .about div.container .container-fluid .img-left {
    height: 400px;
    width: 500px;
  }
  .about div.container .container-fluid .img-left img {
    height: 100%;
  }
  .about div.container .container-fluid .img3 {
    height: 400px;
    width: 500px;
    margin-top: 3rem;
  }
}
.portfolio {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .portfolio {
    min-height: 70rem;
  }
}
.portfolio .container {
  display: flex;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
  justify-content: space-between;
}
.portfolio .container .port-container {
  width: 40rem;
  top: 30%;
  position: relative;
  overflow: hidden;
  left: 5%;
  height: 30rem;
  margin: 1rem 1rem 2rem 0rem;
}
.portfolio .container .port-container:hover span {
  transform: translateX(1rem);
  transition: all 1s;
}
.portfolio .container .port-container::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d800bb;
  top: -2rem;
  right: 10rem;
  z-index: -1;
  transition: all 1s;
}
.portfolio .container .gallery {
  height: 100%;
  width: 700px;
  overflow: hidden;
  position: relative;
}
.portfolio .container .gallery .gallery-wrapper {
  height: 600px;
  width: 80%;
  background: #f7f7f7;
  margin: 0 auto;
  line-height: 80%;
  border-radius: 20px;
  margin-bottom: 5rem;
  margin-top: 5rem;
  box-shadow: #5E00D8;
  position: relative;
  overflow: hidden;
}
.portfolio .container .gallery .gallery-wrapper .img {
  position: absolute;
  height: 600px;
  width: 100%;
}
.portfolio .container .gallery .gallery-wrapper .img video {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  transition: all 1s;
}
.portfolio .container .gallery .gallery-wrapper .img img {
  position: absolute;
  width: 100%;
}
.portfolio .container .gallery .gallery-wrapper .img-text {
  margin-left: 3rem;
  position: absolute;
  width: 40rem;
  bottom: 0;
  padding-bottom: 5rem;
}
.portfolio .container .gallery .gallery-wrapper .img-text span {
  color: #d800bb;
}
.portfolio .container .gallery .gallery-wrapper .img-text a {
  color: #5E00D8;
  font-weight: medium;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: all 1s;
}
.portfolio .container .gallery .slider {
  position: absolute;
  height: 60px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  transform: rotate(90deg);
  background: #f7f7f7;
  display: flex;
  top: 20%;
  right: -9%;
  margin: 0 auto;
  padding: 2rem;
  outline: none;
}
.portfolio .container .gallery .slider button {
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}
.portfolio .container .gallery .slider button:nth-of-type(2) {
  margin-right: 0;
}

@media only screen and (max-width: 90.25em) {
  .gallery {
    height: 800px;
    width: 700px;
    overflow: hidden;
    position: relative;
  }
  .gallery .gallery-wrapper {
    height: 500px;
  }
}
@media only screen and (max-width: 76.25em) {
  .portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .portfolio .container .port-container {
    top: 0%;
    text-align: center;
    width: 60rem;
    margin: 0 auto;
    left: 0;
  }
  .portfolio .container .gallery {
    height: 100vh;
  }
}
@media only screen and (max-width: 50.25em) {
  .portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .portfolio .container .port-container {
    top: 10rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    left: 0;
  }
  .portfolio .container .gallery {
    height: 90vh;
    width: 100%;
  }
  .portfolio .container .gallery .gallery-wrapper {
    height: 450px;
  }
  .portfolio .container .gallery .gallery-wrapper video {
    z-index: 3;
  }
}
@media only screen and (max-width: 28.25em) {
  .portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .portfolio .container .port-container {
    top: 10rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    left: 0;
  }
  .portfolio .container .gallery {
    height: 90vh;
    width: 100%;
    margin-top: 4rem;
  }
  .portfolio .container .gallery .gallery-wrapper {
    height: 400px;
  }
  .portfolio .container .gallery .gallery-wrapper video {
    z-index: 3;
  }
  .portfolio .container .gallery .gallery-wrapper .img-text {
    width: 90%;
  }
  .portfolio .container .gallery .gallery-wrapper .img-text h1 {
    line-height: 20px;
  }
  .portfolio .container .gallery .gallery-wrapper .img-text a {
    font-size: 10px;
  }
  .portfolio .container .gallery .gallery-wrapper .img-text p {
    font-size: 10px;
  }
  .portfolio .container .gallery .slider {
    position: absolute;
    height: 60px;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    transform: rotate(90deg);
    background: #f7f7f7;
    display: flex;
    top: 20%;
    right: -1%;
    margin: 0 auto;
    padding: 2rem;
    outline: none;
    z-index: 3;
  }
  .portfolio .container .gallery .slider button {
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
  }
  .portfolio .container .gallery .slider button:nth-of-type(2) {
    margin-right: 0;
  }
}
.services {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
  background: #f8f3ff;
}
@media only screen and (max-width: 37.5em) {
  .services {
    min-height: 70rem;
  }
}
.services .container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
}
.services .container .services-container {
  width: 45rem;
  top: 20%;
  position: relative;
  overflow: hidden;
  height: 30rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
.services .container .services-container:hover::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -2rem;
  right: 1rem;
  z-index: -1;
  transition: all 1s;
}
.services .container .services-container::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d800bb;
  top: -2rem;
  right: 5rem;
  z-index: -1;
  transition: all 1s;
}
.services .container .services-wrapper {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  line-height: 100%;
}
.services .container .services-wrapper .creative {
  margin-right: 2rem;
  height: 100px;
  width: 500px;
  background: #ffffff;
  text-align: center;
  line-height: 100px;
  transition: all 1s;
  margin-bottom: 2rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  z-index: 2;
}
.services .container .services-wrapper .creative h1 {
  color: #210b39;
}
.services .container .services-wrapper .creative::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #210b39;
  -webkit-transform: scaleY();
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: bottom;
  transition: all 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: white;
}
.services .container .services-wrapper .creative:hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #210b39;
  -webkit-transform: scaleY(0);
  transform: scaleY(10);
  transition: transform 1s;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-in;
}
.services .container .services-wrapper .creative:hover h1 {
  color: white;
}
.services .container a {
  position: relative;
  display: block;
  width: 300px;
  text-align: center;
  margin: 2rem auto;
}

.team {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .team {
    min-height: 70rem;
  }
}
.team .container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
}
.team .container .team-container {
  width: 45rem;
  top: 10%;
  position: relative;
  overflow: hidden;
  height: 30rem;
  margin: 0 auto;
  text-align: center;
}
.team .container .team-container:hover::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -2rem;
  right: 1rem;
  z-index: -1;
  transition: all 1s;
}
.team .container .team-container::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d800bb;
  top: -2rem;
  right: 5rem;
  z-index: -1;
  transition: all 1s;
}
.team .container .team-wrapper {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}
.team .container .team-wrapper .creative {
  position: relative;
  right: 0rem;
  overflow: hidden;
  margin-top: 5rem;
  width: 300px;
  height: 300px;
  border-radius: 2rem;
  margin-right: 2rem;
  transition: all 1s;
}
.team .container .team-wrapper .creative:nth-of-type(1) {
  margin-bottom: 5rem;
}
.team .container .team-wrapper .creative:nth-of-type(2) {
  margin-top: 5rem;
}
.team .container .team-wrapper .creative:nth-of-type(3) {
  margin-bottom: 5rem;
}
.team .container .team-wrapper .creative:nth-of-type(4) {
  margin-top: 5rem;
}
.team .container .team-wrapper .creative:hover > .team-name {
  display: flex;
  transition: all 1s;
  position: relative;
  height: 100px;
  transition: all 1s;
}
.team .container .team-wrapper .creative .team-name {
  position: relative;
  height: 0px;
  width: 80%;
  background: #ffffff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.team .container .team-wrapper .creative img {
  position: absolute;
  background-size: 100%;
  width: 100%;
  background: 80% 60% no-repeat;
}

.client {
  position: relative;
  min-height: 75rem;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .client {
    min-height: 70rem;
  }
}
.client .container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  top: 0rem;
}
.client .container .testimonial {
  width: 800px;
  position: relative;
  top: 0rem;
  height: 600px;
  overflow: hidden;
  margin: auto;
}
.client .container .testimonial .testimonial-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes {
  width: 90%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .img {
  position: relative;
  width: 350px;
  height: 350px;
  margin-right: 5rem;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .img img {
  position: absolute;
  width: 100%;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text {
  width: 500px;
  position: relative;
  top: 5rem;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h1 {
  line-height: 35px;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  color: black;
  font-family: "NexaRustSans-Black_0", "san-sarif";
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote {
  width: 90%;
  height: 150px;
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  opacity: 0.9;
  background: url("../img/icons/quote.svg") no-repeat 50% 20%;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
  font-size: 2rem;
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 3rem;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote .line {
  position: relative;
  width: 90%;
  height: 50px;
}
.client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote .line img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.client .container .testimonial .slider {
  position: absolute;
  height: 40px;
  width: 200px;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  display: flex;
  bottom: 0%;
  right: 0%;
  left: 0%;
  margin: 0 auto;
  outline: none;
}
.client .container .testimonial .slider button {
  padding: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.client .container .testimonial .slider button:nth-of-type(2) {
  margin-right: 0;
}
.client .container .testimonial .slider .prev {
  background: url("../img/icons/rightarrow.svg") no-repeat 50% 50%;
}
.client .container .testimonial .slider .next {
  background: url("../img/icons/leftarrow.svg") no-repeat 50% 50%;
}
.client .container .brand-container {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  height: 70px;
  overflow: hidden;
  padding: 2rem;
}
.client .container .brand-container .brand-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  flex-wrap: wrap;
}
.client .container .brand-container .brand-wrapper .brand {
  position: relative;
  width: 180px;
  height: 50px;
  overflow: hidden;
  line-height: 100px;
}
.client .container .brand-container .brand-wrapper .brand img {
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 90.25em) {
  .services .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .services .container .services-container {
    top: 10rem;
  }
  .services .container .services-wrapper {
    height: 100%;
  }

  .team .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .team .container .team-container {
    top: 10rem;
  }
  .team .container .team-wrapper {
    height: 100%;
  }
}
@media only screen and (max-width: 76.25em) {
  .team .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .team .container .team-container {
    top: 10rem;
  }
  .team .container .team-wrapper {
    height: 100%;
  }
  .team .container .team-wrapper .creative img {
    position: absolute;
    background-size: cover;
    width: 100%;
    background: 100% 100% no-repeat;
  }
  .team .container .team-wrapper .creative .team-name {
    width: 100%;
  }
}
@media only screen and (max-width: 50.25em) {
  .services .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .services .container .services-container {
    top: 10rem;
  }
  .services .container .services-wrapper {
    height: 100%;
  }

  .team .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .team .container .team-container {
    top: 10rem;
    width: 80%;
  }
  .team .container .team-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
  }
  .team .container .team-wrapper .creative {
    width: 200px;
    margin-top: 1rem;
    height: 200px;
    margin-right: 1rem;
  }
  .team .container .team-wrapper .creative:nth-of-type(1), .team .container .team-wrapper .creative:nth-of-type(2), .team .container .team-wrapper .creative:nth-of-type(3), .team .container .team-wrapper .creative:nth-of-type(4) {
    margin: 0 auto;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .team .container .team-wrapper .creative img {
    height: 100%;
  }

  .client .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .client .container .testimonial {
    width: 100%;
    height: 500px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .img {
    width: 500px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text {
    width: 100%;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h1 {
    font-size: 1.8rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote {
    width: 100%;
    height: 120px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote .line {
    width: 100%;
    margin-bottom: 1rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 40.25em) {
  .client .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .client .container .testimonial {
    width: 100%;
    height: 450px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .img {
    width: 500px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text {
    width: 100%;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h2 {
    font-size: 1.2rem;
    width: 200px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .lock {
    font-size: 0.5rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text p {
    font-size: 1.2rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote {
    width: 100%;
    margin-bottom: 0.5rem;
    height: 80px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
    line-height: 1.8rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote .line {
    width: 100%;
    margin-bottom: 0;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 28.25em) {
  .services .container {
    height: 100%;
    padding-bottom: 5rem;
    text-align: center;
  }
  .services .container .services-container {
    width: 80%;
  }
  .services .container .services-wrapper {
    height: 100%;
  }
  .services .container .services-wrapper .creative {
    margin-right: 0;
  }
  .services .container a {
    width: 80%;
    margin: 0 auto;
  }

  .team .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .team .container .team-container {
    top: 10rem;
    width: 80%;
  }
  .team .container .team-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
  }
  .team .container .team-wrapper .creative {
    width: 300px;
    margin-top: 1rem;
    height: 300px;
    margin-right: 1rem;
  }
  .team .container .team-wrapper .creative:nth-of-type(1), .team .container .team-wrapper .creative:nth-of-type(2), .team .container .team-wrapper .creative:nth-of-type(3), .team .container .team-wrapper .creative:nth-of-type(4) {
    margin: 0 auto;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .team .container .team-wrapper .creative img {
    height: 100%;
  }

  .client .container {
    height: 100%;
    padding-bottom: 5rem;
  }
  .client .container .testimonial {
    width: 100%;
    height: 450px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .img {
    width: 500px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text {
    width: 100%;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text h2 {
    font-size: 1rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .lock {
    font-size: 1rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text p {
    font-size: 1.2rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote {
    width: 100%;
    margin-bottom: 0.5rem;
    height: 80px;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
    line-height: 1.8rem;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote .line {
    width: 100%;
    margin-bottom: 0;
  }
  .client .container .testimonial .testimonial-wrapper .testimonial-quotes .text .quote p {
    font-size: 1.2rem;
  }
  .client .container .brand-container {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    background: #210b39;
    height: 100%;
    overflow: hidden;
  }
  .client .container .brand-container .brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    flex-wrap: wrap;
    height: 100%;
  }
  .client .container .brand-container .brand-wrapper .brand {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
    line-height: 100px;
  }
  .client .container .brand-container .brand-wrapper .brand img {
    position: absolute;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
